{% extends 'base.html.twig' %}

{% block title %}Edit Habitat{% endblock %}

{% block body %}
    <h1>Edit Habitat</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Update</button>
    {{ form_end(form) }}

    <a href="{{ path('app_habitats_index') }}">back to list</a>
{% endblock %}
