$primary: #A0522D;
$secondary: #F5DEB3;
$dark: #392C1E;
$black:  #292222;
$orange-dynamic: #FF8C00; /* Nouvelle couleur dynamique */
$font-family-headline: "Montserrat", sans-serif !default;
$font-family-text: "Comic Sans MS", sans-serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";
