{% extends 'base.html.twig' %}

{% block title %}Nouveau service{% endblock %}

{% block body %}
    <h1>Créer un nouveau service</h1>
    </div>
</div>

    <div class="container bg-secondary p-4">
        {{ include('services/_form.html.twig') }}

        <a href="{{ path('app_services_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
