{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Commentaires</h1>
        </div>
    </div>

    
    </div>
{% endblock %}
