{% extends 'base.html.twig' %}

{% block title %}Nouveau Commentaire{% endblock %}

{% block body %}
        <h1>Laisser un commentaire</h1>
            <p>Il sera visible sur le site</p>
        </div>
    </div>
    
    {{ include('comments/_form.html.twig') }}


        <div class="text-center pt-3">
            <a href="{{ path('app_comments_index') }}" class="btn btn-primary">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
